<h2> <p> <font size="5"> 馬力值: <%= @event.likes.count %> hp </font> </h2>

<% if like %>
<%= link_to " -1 hp", event_like_path(@event, like),:remote => true, :method => :delete, :class => "btn btn-danger btn-lg" %>
<% else %>
<%= link_to " +1 hp", event_likes_path(@event),:remote => true, :method => :post, :class => "btn btn-primary btn-lg" %>
<% end %>
