

<div class="about_index container">

 <div class="clearfix container">

    <div class ="title clearfix">

      <h1>FZR GARAGE</h1>

    </div>

      <div class = "enter_picture clearfix" >

          <a><%= link_to '關於本站', about_path %></a> /
          <a><%= link_to '進入論壇', events_path %></a>

      </div>

 </div>

</div>


