.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//navbar
.nav {
  float: right;
}

.navbar-brand {
  padding-left: 50px;
}

//header

header {
  padding-top: 30px;
  color: inherit;
  background-color: #000000;
}

.info {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 100px;

}

.headerinfo {

}
