.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//navbar
.nav {
  float: right;
}

.navbar-brand {
  padding-left: 50px;
}

//header

header {
  padding-top: 30px;
  color: inherit;
  background-color: #000000;
}

.login {
  padding-left: 950px;
  margin-top: 55px;
}

.header_info {
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;

}

//masonry

.masonryarea {
width: 1000px;
padding:10px 10px 10px 10px  ;

}

.masonryitem {
width: 220px;
margin: 10px;
float: left;
}



//selectbar

.selectbar {
 width: 1000px;
 padding:0 180px ;

}
